@page "/"

<style>
    body {
        background-color: #303440;
        height: 100%;
    }
</style>

<PageTitle>Fretworks</PageTitle>

<div style="display: flex; justify-content: center; align-items: center">
    <h1 style="font-size: 48px; color: white; text-align: center; margin-top:10%">
        Under Development
    </h1>
</div>