@page "/"
@using Fretworks.Config
@inject Application Application

<style>
    body {
        background-color: #303440;
        height: 100%;
    }
    p {
        color: white;
    }
</style>

<PageTitle>@(Application.Title)</PageTitle>

<div style="justify-content: center; align-items: center; margin-top: 10%; text-align: center">
    <h1 style="font-size: 48px; color: white">
        Under Development
    </h1>
    <p>
        This website/application is being developed to help fretted instrument builders with information and
        tooling. 
    </p>
    <p>
        As a "wannabe" builder myself, the aim is to include information etc. that I learn as I go
    </p>
    <p style="margin-top: 30px">
        <MudImage Src="icon-192.png" />
    </p>
</div>