@page "/"
@using Fretworks.Config
@inject Application Application

<PageTitle>@(Application.Title)</PageTitle>

<div style="justify-content: center; align-items: center; margin-top: 10%; text-align: center">
    <h1 style="font-size: 48px; color: var(--mud-palette-primary-light)">
        Under Development
    </h1>
    <p>
        This website/application is being developed specifically to help me (a "wannabe" guitar/bass builder) to have information and tooling to help me on my way.
    </p>
    <p style="margin-top: 30px">
        <MudImage Src="icon-192.png" Width="192" Height="192" />
    </p>
</div>
